<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

    <!--加载配置文件-->
    <bean id="configProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>classpath:config_dev.properties</value>
            </list>
        </property>
    </bean>

    <!-- 从properties文件获取配置信息 -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
        <property name="ignoreResourceNotFound" value="true" />
        <!-- <property name="locations">
            <list>
                标准配置
                <value>classpath:/config.properties</value>
            </list>
        </property> -->
        <property name="properties" ref="configProperties"/>
    </bean>
    <!--可以解决静态资源访问不到的问题，就不需要配置web.xml里的那些访问静态资源的servlet映射了，这里配置的是可以访问images下的静态资源-->
    <mvc:resources location="/images/" mapping="/images/**"></mvc:resources>

    <!-- 配置自动扫描的包 -->
    <context:component-scan base-package="com.spring.day01"></context:component-scan>

    <!--springmvc支持json,所以开启了注解驱动周就不用自己配置下面的json转换了-->
    <mvc:annotation-driven />

    <!--处理器适配器 -->
    <!--<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"></bean>
            </list>
        </property>
    </bean>-->

    <!-- 配置视图解析器 如何把handler 方法返回值解析为实际的物理视图 -->
    <!--prefix和suffix：查找视图页面的前缀和后缀（前缀[逻辑视图名]后缀）， -->
    <!-- 比如传进来的逻辑视图名为result，则该该jsp视图页面应该存放在“/WEB-INF/result.jsp”  -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name = "prefix" value="/WEB-INF/"></property>
        <property name = "suffix" value = ".jsp"></property>
    </bean>
</beans>